body {
    background: url("../img/landingbackground.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    font-family: Lato;
}

html {
    height: 100%;
}

#content {
    text-align:center;
    padding-top: 25%;
}

h1,h3 {
    color: white;
}

h1 {
    font-weight: 700;
    font-sze: 5em;
}

hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
