@CHARSET "ISO-8859-1";
 
body
{
    background-color: #cddcec;
    font-family: "Arial";
    font-size: 11px;
}
 
div#container
{
    width: 600px;
    margin: 0px auto;
    /*border: 1px solid #e6eef6;*/
    background-color: #ffffff;
}
 
div#container h1
{
    /*background-color: #4b75b3;*/
    margin: 0px;
    padding: 8px;
    font-family: "Arial";
    font-weight: normal;
    /*border: 1px solid #3564a9;*/
}
 
div#container fieldset
{
    margin: 20px;
    /*border: 1px solid #98b9d0;*/
}
 
ul#menu
{
    list-style-type: none;
    margin: 4px;
    padding: 0px;
}
 
ul#menu li
{
    float: left;
    margin: 4px;
}
 
ul#menu li.active
{
    background-color: #98b9d0;
    border-left: 1px solid #3564a9;
    border-top: 1px solid #3564a9;
    border-bottom: 1px solid #e6eef6;
    border-right: 1px solid #e6eef6;
}
 
ul#menu li a
{
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
    color: #3564a9;
}
 
ul#files
{
    list-style-type: none;
    margin: 40px 0px 0px 0px;
    padding: 0px;
}
 
ul#files li
{
    background-color: #fff7c0;
    border-bottom: 1px solid #efefef;
    padding: 2px;
    margin-bottom: 1px;
}